In [ ]:
# Import the necessary libraries

In [ ]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
#Import the dataset
user = pd.read_csv(r"D:\Data_Science\Pandas\Assignments\Assignment2.csv")
user.head()

In [ ]:
#Assign it to a variable called users and use the 'user_id' as index
user['user_id']=user['user_id|age|gender|occupation|zip_code'].apply(lambda x:x.split('|')[0])
user['age']=user['user_id|age|gender|occupation|zip_code'].apply(lambda x:int(x.split('|')[1]))
user['gender']=user['user_id|age|gender|occupation|zip_code'].apply(lambda x:x.split('|')[2])
user['occupation']=user['user_id|age|gender|occupation|zip_code'].apply(lambda x:x.split('|')[3])
user['zip_code']=user['user_id|age|gender|occupation|zip_code'].apply(lambda x:x.split('|')[4])
user.drop('user_id|age|gender|occupation|zip_code',axis=1,inplace=True)
user.set_index('user_id',inplace=True)
user.head()

In [ ]:
#See the first 10 and last 10 entries
print("----------First 10 entries----------")
user.head(10)

In [ ]:
print("----------Last 10 entries----------")
user.tail(10)

In [ ]:
#What is the number of observations in the dataset?
print("Number of observation: ",len(user))

In [ ]:
print("Number of columns: ",user.shape[1])

In [ ]:
print("Name of all the columns: ",user.columns)

In [ ]:
#How is the dataset indexed?
print(f"Dataset indexed: {user.index}")

In [ ]:
#What is the data type of each column?
print(f"Datatype of each column: {user.info()}")

In [ ]:
#Print only the occupation column
print(f"Occupation of all people:\n {user['occupation']}")

In [ ]:
#How many different occupations are in this dataset?
print("Total number of occupations are in dataset: ",len(user['occupation'].unique()))

In [ ]:
#What is the most frequent occupation?
print(f"Most frquent occupation:\n {user['occupation'].mode()}")

In [ ]:
#DataFrame Info.
print(f"Dataframe information: {user.info()}")

In [ ]:
#Describe all the columns
print(f"Describe all the columns:\n {user.describe()}")

In [ ]:
#Summarize only the occupation column
print(f"Summary of occupations:\n {user.groupby('occupation')['occupation'].count()}")

In [ ]:
#What is the mean age of users?
print("Mean of all users age: ",user['age'].mean())

In [ ]:
#What is the age with least occurrence?
print(f"Least occurence of age: {user['age'].value_counts().idxmin()}")